@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Hind Siliguri", sans-serif !important;
}
.css-19kzrtu {
  padding: 0px 24px 0px 24px !important;
}
.MuiBox-root.css-19kzrtu img {
  margin-top: 5px !important;
}
.css-gask3x-MuiDivider-root {
  margin-top: 0 !important;
}
#sCard
  span.MuiTypography-root.MuiTypography-h6.MuiCardHeader-title.css-2wu3h2-MuiTypography-root {
  color: #728fb4 !important;
  font-size: 36px !important;
  text-align: center !important;
}

.css-mp5wgf-MuiFormLabel-root-MuiInputLabel-root {
  color: #728fb480 !important;
  text-align: center !important;
  width: 100% !important;
}
.css-1ufri23-MuiCardContent-root {
  margin: 0 auto !important;
}
button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.MuiButton-disableElevation.MuiButtonBase-root.css-mfdfzs-MuiButtonBase-root-MuiButton-root,
button.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeLarge.MuiButton-containedSizeLarge.MuiButton-disableElevation.MuiButtonBase-root.css-fxx13i-MuiButtonBase-root-MuiButton-root {
  width: 450px !important;
}
.MuiDivider-root.MuiDivider-fullWidth.MuiDivider-withChildren.css-1tgk192-MuiDivider-root {
  justify-content: center !important;
}
.css-1tgk192-MuiDivider-root::before,
.css-1tgk192-MuiDivider-root::after {
  width: 13.5% !important;
}
.MuiBox-root.css-i9gxme li {
  margin-bottom: 20px !important;
}
button.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeLarge.MuiButton-containedSizeLarge.MuiButton-disableElevation.MuiButtonBase-root.css-fxx13i-MuiButtonBase-root-MuiButton-root {
  background-color: #0faf51 !important;
}
button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.MuiButton-disableElevation.MuiButtonBase-root.css-mfdfzs-MuiButtonBase-root-MuiButton-root {
  background-color: #007bff !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1c0dc26-MuiPaper-root-MuiCard-root {
  height: 100vh !important;
  overflow: auto !important;
}
.or {
  margin: 20px 0 !important;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  background: #fafbfe !important;
}
#header-search {
  margin-left: 10px !important;
  width: 74% !important;
  max-width: 74% !important;
}
#header-search .css-mvzzx-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 40px !important;
}
.css-19zd22p-MuiPaper-root-MuiDrawer-paper {
  border-right: none !important;
}

#header-search .css-162icau-MuiInputBase-input-MuiOutlinedInput-input {
  height: 10px !important;
}
